<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-6 col-lg-6 parte1">
            <h1>Portfolio</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum beatae praesentium ex provident eos repudiandae molestias odit, quae tempora natus rerum omnis, aliquam dolorem. Praesentium consequuntur perspiciatis reprehenderit quidem nostrum.</p>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/portfolio1.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
