<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [imageSrc]="'../assets/html1.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="60"
            [showTitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#7B68EE'"
            [innerStrokeColor]="'#9370DB'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="100"
            [imageSrc]="'../assets/CSS.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="70"
            [showTitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#7B68EE'"
            [innerStrokeColor]="'#9370DB'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="100"
            [imageSrc]="'../assets/js.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="60"
            [showTitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#7B68EE'"
            [innerStrokeColor]="'#9370DB'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="55"
            [radius]="100"
            [imageSrc]="'../assets/git.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showTitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#7B68EE'"
            [innerStrokeColor]="'#9370DB'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [imageSrc]="'../assets/eng.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="60"
            [showTitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#7B68EE'"
            [innerStrokeColor]="'#9370DB'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="100"
            [imageSrc]="'../assets/grupal.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="60"
            [showTitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#7B68EE'"
            [innerStrokeColor]="'#9370DB'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
</div>
